h1 {
	font-family:'Caesar Dressing', cursive;
}

h3 {
	font-family: 'Rum Raisin', sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #3f3c71;
}

.ui-widget {
font-size: 12px;
}

.ui-datepicker td.full { 
	opacity: .70;
	filter: Alpha(Opacity=70); 
	text-decoration:line-through;
}
.ui-datepicker td.full span.ui-state-default{ 
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.ui-datepicker {
	padding:0px;
}

.employeeTable{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.employeeTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}

div.listing{
	width: 900px;
}

div.formulaire{
	width: 900px;
}

/* body{ */
/* 	background-color: black; */
/* } */

#corps{
	
	width : 900px;
	height: 900px;
	color: white;
	margin-left: 300px;
	
}

#logo{
	background-image: url('/JavaServerFaces/resources/picto/passerelle4.png');
	width: 300px;
	height: 125px;
	margin-left: 50px;
	margin-top: 50px;
}

div#menu div{
	float: left;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px white;
}
